---
import { info } from "@data";
import { createLogo } from "@utils";
import RRSS from "@components/general/RRSS.astro";

---
<nav class="bg-white border-gray-200 dark:bg-black">
  <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="./logo-nav.png" class="h-8" alt="Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Portfolio</span>
    </a>
    <div class="flex items-center space-x-6 rtl:space-x-reverse">
      <button
        aria-label="theme-button"
        id="theme-button"
        class="dark:text-light rounded-lg p-4 ml-2 bg-slate-100 dark:bg-[#202020]"
      ></button>
    </div>
  </div>
</nav>

<nav class="bg-gray-50 dark:bg-gray-700" id="scrollNav">
  <div class="max-w-screen-xl px-4 py-3 mx-auto">
    <div class="flex items-center">
      <ul class="flex flex-row font-medium mt-0 space-x-8 rtl:space-x-reverse text-sm">
        <li>
          <a href="/#educ" class="text-gray-900 dark:text-white hover:underline" aria-current="page">Educación</a>
        </li>  
        <li>
          <a href="/projects" class="text-gray-900 dark:text-white hover:underline">Proyectos</a>
        </li>
        <li>
          <a href="/certification" class="text-gray-900 dark:text-white hover:underline">Certificados</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script>
  window.addEventListener('scroll', function() {
    var nav = document.getElementById('scrollNav');
    if (window.scrollY > 0) {
      nav.classList.add('fixed', 'top-0', 'left-0', 'w-full', 'z-10');
    } else {
      nav.classList.remove('fixed', 'top-0', 'left-0', 'w-full', 'z-10');
    }
  });
</script>

<script is:inline>
  const moon = `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>`;
  const sun = `<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>`;
  const themeButton = document.getElementById("theme-button");
  const browserTheme = document.querySelector('[name="theme-color"]');
  let isDark;
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.setAttribute("data-theme", "light");
    isDark = true;
    themeButton.innerHTML = moon;
    browserTheme.content = "#FFFFFF";
  } else {
    document.documentElement.setAttribute("data-theme", "dark");
    isDark = false;
    themeButton.innerHTML = sun;
    browserTheme.content = "#111111";
  }
  window.localStorage.setItem("theme", theme);

  const darkModeHandler = () => {
    if (isDark) {
      document.documentElement.setAttribute("data-theme", "dark");
      localStorage.theme = "dark";
      isDark = false;
      themeButton.innerHTML = sun;
      browserTheme.content = "#111111";
    } else {
      document.documentElement.setAttribute("data-theme", "light");
      localStorage.theme = "light";
      isDark = true;
      themeButton.innerHTML = moon;
      browserTheme.content = "#FFFFFF";
    }
  };

  themeButton.addEventListener("click", darkModeHandler);
</script>