---
import { info } from "@data";

import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
import RRSS from "@components/general/RRSS.astro";
const certification = info.certification.map((certification) => certification);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"certification"}
      description={"All certification are available in this page."}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <h1 style="line-height: 1.2;">Certificates</h1>
      <p class="mb-3 text-lg text-gray-500 md:text-xl dark:text-white">Here are my most relevant certifications.</p>
      <p class="text-gray-500 dark:text-white">I pursue certifications based on personal interests and specializations in various fields, always striving for continuous improvement.</p>
      <br>
      <RRSS/>
      <ProjectsWrapper projects={certification} />
    </Layout>
  </body>
</html>
