---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Experience from "@components/home/Experience.astro";
import MetaHead from "@components/general/MetaHead.astro";
import RRSS from "@components/general/RRSS.astro"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"Portfolio"}
      description={"Portfolio Web"}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <Layout>
      <br>
      <RRSS/>
      <br><br>
      <h2 class="mb-3 text-lg text-gray-500 md:text-xl dark:text-white">EDUCATION & EXPERIENCE</h2>
      <p class="text-gray-500 dark:text-white">The blend of my academic achievements and real-world experience has prepared me well for challenges. Visit the Projects section for insights into my practical applications.</p>
      <div id="educ">
        <Experience  title={"EDUCATION"} details={info.education} /> 
        </div>
      <div id="exp">
      <Experience  title={"EXPERIENCE"} details={info.experience} />
    </div>
      
      <div>
      </div>
    </Layout>
  </body>
</html>
