---
import { info } from "@data";
import Layout from "@layouts/Layout.astro";
import Home from "@components/home/Home.astro";
import Experience from "@components/home/Experience.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Timeline from "@components/home/Timeline.astro"
import TimeEduc from "@components/home/TimeEduc.astro";
import GoogleAnalytics from "@components/GoogleAnalytics.astro";

const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
const featureCertification = info.certification.reduce((accumulator, certification) => {
  if (accumulator.length < 6 && certification.isFeatured) {
    accumulator.push(certification);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead title={"Portfolio"}
      description={"Portfolio Web"}
      ogImageUrl={"/assets/images/profile.png"}
    />
    <GoogleAnalytics />
  </head>
  

  <body>
    <Layout> 
      <Home title={""} details={info.hero} />
      <TimeEduc/>
        <Timeline/>
    </Layout>
    
  </body>