---
import { info } from "@data";
import Layout from "@layouts/Layout.astro";
import Home from "@components/home/Home.astro";
import Experience from "@components/home/Experience.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Timeline from "@components/home/Timeline.astro"
import TimeEduc from "@components/home/TimeEduc.astro";
import GoogleAnalytics from "@components/GoogleAnalytics.astro";
import RRSS from "@components/general/RRSS.astro";
import Skill from "@components/home/Skill.astro";
import Services from "@components/home/services.astro";


const featureProjects = info.projects.reduce((accumulator, project) => {
  if (accumulator.length < 6 && project.isFeatured) {
    accumulator.push(project);
  }
  return accumulator;
}, []);
const featureCertification = info.certification.reduce((accumulator, certification) => {
  if (accumulator.length < 6 && certification.isFeatured) {
    accumulator.push(certification);
  }
  return accumulator;
}, []);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead title={"Portfolio"}
      description={"Portfolio Web"}
      ogImageUrl={"/assets/images/profile.png"}
    />
    <GoogleAnalytics />
    <script src="/node_modules/flowbite/dist/flowbite.min.js" defer></script>

  </head>
  <body>
    <Layout> 
      <Home title={""} details={info.hero} />
      <div id="skill">
      
<div>
  <h2 class="main-title">Habilidades y Herramientas</h2> <!-- Título principal centrado y en h2 -->
</div>
<style>
    h2 {
      font-size: 1.25rem;
      color: #ecf0f1;
    }
    li{
      color: #ecf0f1;
    }
    p{
      color: #ecf0f1;
    }
  </style>
  <div id="accordion-collapse" data-accordion="collapse">
    <!-- Sección de Programación -->
    <h2 id="accordion-collapse-heading-1">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-white border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
        <span>Programación</span>
      </button>
    </h2>
    <div id="accordion-collapse-body-1" class="" aria-labelledby="accordion-collapse-heading-1">
      <div class="p-5 border border-b-0 border-gray-200">
        <ul>
          <li>Python - Scripts y ciberseguridad</li>
          <li>JavaScript - Desarrollo web (Astro JS)</li>
          <li>C/C++ - Proyectos académicos</li>
          <li>SQL - Consultas y gestión de bases de datos</li>
          <li>Laravel 8 con SQL - Gestión de usuarios</li>
          <li>PHP POO - Páginas web gubernamentales</li>
        </ul>
      </div>
    </div>
  
    <!-- Sección de Ciberseguridad -->
    <h2 id="accordion-collapse-heading-2">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-white border border-b-0 border-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
        <span>Ciberseguridad</span>
      </button>
    </h2>
    <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
      <div class="p-5 border border-b-0 border-gray-200">
        <ul>
          <li>Norma ISO/IEC 27001:2013</li>
          <li>Análisis de vulnerabilidades y evaluación de riesgos</li>
          <li>Herramientas: Nessus, Metasploit, Nmap (nivel 2 en CTF), Wireshark</li>
          <li>Configuración de firewalls (iptables) e IDS/IPS (Snort)</li>
          <li>Análisis de incidentes y creación de informes con Splunk</li>
          <li>Shodan (nivel intermedio)</li>
          <li>Ethical hacking: Zphisher, auditorías Wi-Fi (aircrack, fluxion, wifite)</li>
          <li>OSINT avanzado</li>
        </ul>
      </div>
    </div>
  
    <!-- Sección de Cloud - AWS -->
    <h2 id="accordion-collapse-heading-3">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-white border border-b-0 border-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
        <span>Cloud - AWS</span>
      </button>
    </h2>
    <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
      <div class="p-5 border border-b-0 border-gray-200">
        <ul>
          <li>Servicios: EC2, S3, Lambda</li>
          <li>Seguridad: GuardDuty, Inspector</li>
        </ul>
      </div>
    </div>
  
    <!-- Sección de Cloud - Azure -->
    <h2 id="accordion-collapse-heading-4">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-white border border-b-0 border-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-collapse-body-4" aria-expanded="false" aria-controls="accordion-collapse-body-4">
        <span>Cloud - Azure</span>
      </button>
    </h2>
    <div id="accordion-collapse-body-4" class="hidden" aria-labelledby="accordion-collapse-heading-4">
      <div class="p-5 border border-b-0 border-gray-200">
        <ul>
          <li>Administración de recursos en Azure</li>
          <li>Azure Active Directory (AAD) y Entra ID</li>
          <li>Certificación en proceso AZ-104 - Administración en Azure</li>
        </ul>
      </div>
    </div>
  
    <!-- Sección de Estudios Actuales -->
    <h2 id="accordion-collapse-heading-5">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-white border border-b-0 border-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-collapse-body-5" aria-expanded="false" aria-controls="accordion-collapse-body-5">
        <span>Estudios Actuales</span>
      </button>
    </h2>
    <div id="accordion-collapse-body-5" class="hidden" aria-labelledby="accordion-collapse-heading-5">
      <div class="p-5 border border-gray-200">
        <ul>
          <li>EC-Council SCA - Análisis de SOC</li>
          <li>Hack4U - Introducción al hacking y preparación para eJPTv2</li>
          <li>Python ofensivo para ciberseguridad</li>
        </ul>
      </div>
    </div>
  
    <!-- Sección de Otras Habilidades -->
    <h2 id="accordion-collapse-heading-6">
      <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-white border border-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-collapse-body-6" aria-expanded="false" aria-controls="accordion-collapse-body-6">
        <span>Otras Habilidades</span>
      </button>
    </h2>
    <div id="accordion-collapse-body-6" class="hidden" aria-labelledby="accordion-collapse-heading-6">
      <div class="p-5 border border-gray-200">
        <ul>
          <li>Linux - Administración básica</li>
          <li>Docker básico</li>
          <li>WordPress y Odoo - Proyectos para empresas pequeñas</li>
          <li>Freelance: Digital Ocean, cPanel</li>
          <li>Google Analytics y SEO básico</li>
          <li>Soporte técnico: Jira Service Desk</li>
        </ul>
      </div>
    </div>
  </div>
  
      </div>  
     <RRSS/>
    <br><br>
    </Layout>
  </body>
  


  