---
import { info } from "@data";

import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";
import RRSS from "@components/general/RRSS.astro";
import TimeEduc from "@components/home/TimeEduc.astro";
import Timeline from "@components/home/Timeline.astro";
const certification = info.certification.map((certification) => certification);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={"certification"}
      description={"All certification are available in this page."}
      ogImageUrl={"/assets/images/profile.png"}
    />
  </head>

  <body>
    <Layout>
      <h1 style="margin-top: 8rem; line-height: 1.2;">Experiencia y educación</h1>
      <p class="text-gray-500 dark:text-white">A lo largo de mi trayectoria, he adquirido experiencia práctica en diversas áreas, desde el soporte técnico y desarrollo web hasta proyectos independientes en tecnologías emergentes. Cada rol ha sido clave en el fortalecimiento de mis habilidades técnicas y en la capacidad para adaptarme a distintos entornos laborales..</p>
      <br>
      <RRSS/>
      <Timeline/>
      <TimeEduc/>
    </Layout>
  </body>
</html>
