<div class="flex justify-center items-center h-screen">
  <div class="max-w-sm bg-black border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="https://pathdefend.com">
      <img class="rounded-t-lg" src="/assets/certification/3312.png" alt="Servicios Profesionales" />
    </a>
    <div class="p-3">
      <a href="https://pathdefend.com">
        <h5 class="mb-1 text-xl font-bold tracking-tight text-white">Servicios Profesionales</h5>
      </a>
      <p class="mb-2 font-normal text-white">
        Ofrezco desarrollo web, ciberseguridad y auditorías en la nube. Soluciones a medida para proteger y optimizar tu negocio.
      </p>
      <p class="mb-3 font-normal text-white">
        En constante formación, incluyendo certificaciones en Azure. Descubre más en mi portafolio.
      </p>
      <a href="https://pathdefend.com" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
        Ver servicios y portafolio
        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
        </svg>
      </a>
    </div>
  </div>
</div>
