<div class="flex flex-wrap">
  <div class="w-full md:w-1/2 p-4">
    <h2 class="mb-2 text-lg font-semibold text-white">Programación:</h2>
    <ul class="max-w-md space-y-1 text-white list-disc list-inside">
      <li>Python - Scripts y ciberseguridad</li>
      <li>JavaScript - Desarrollo web (Astro JS)</li>
      <li>C/C++ - Proyectos académicos</li>
      <li>SQL - Consultas y gestión de bases de datos</li>
      <li>Laravel 8 con SQL - Gestión de usuarios</li>
      <li>PHP POO - Páginas web gubernamentales</li>
    </ul>
  </div>

  <div class="w-full md:w-1/2 p-4">
    <h2 class="mb-2 text-lg font-semibold text-white">Ciberseguridad:</h2>
    <ul class="max-w-md space-y-1 text-white list-disc list-inside">
      <li>Norma ISO/IEC 27001:2013</li>
      <li>Análisis de vulnerabilidades y evaluación de riesgos</li>
      <li>Herramientas: Nessus, Metasploit, Nmap (nivel 2 en CTF), Wireshark</li>
      <li>Configuración de firewalls (iptables) e IDS/IPS (Snort)</li>
      <li>Análisis de incidentes y creación de informes con Splunk</li>
      <li>Shodan (nivel intermedio)</li>
      <li>Ethical hacking: Zphisher, auditorías Wi-Fi (aircrack, fluxion, wifite)</li>
      <li>OSINT avanzado</li>
    </ul>
  </div>

  <div class="w-full md:w-1/2 p-4">
    <h2 class="mb-2 text-lg font-semibold text-white">Cloud - AWS:</h2>
    <ul class="max-w-md space-y-1 text-white list-disc list-inside">
      <li>Servicios: EC2, S3, Lambda</li>
      <li>Seguridad: GuardDuty, Inspector</li>
    </ul>
  </div>

  <div class="w-full md:w-1/2 p-4">
    <h2 class="mb-2 text-lg font-semibold text-white">Cloud - Azure:</h2>
    <ul class="max-w-md space-y-1 text-white list-disc list-inside">
      <li>Administración de recursos en Azure</li>
      <li>Azure Active Directory (AAD) y Entra ID</li>
      <li>Certificación en proceso AZ-104 - Administración en Azure</li>
    </ul>
  </div>

  <div class="w-full md:w-1/2 p-4">
    <h2 class="mb-2 text-lg font-semibold text-white">Estudios Actuales:</h2>
    <ul class="max-w-md space-y-1 text-white list-disc list-inside">
      <li>EC-Council SCA - Análisis de SOC</li>
      <li>Hack4U - Introducción al hacking y preparación para eJPTv2</li>
      <li>Python ofensivo para ciberseguridad</li>
    </ul>
  </div>

  <div class="w-full md:w-1/2 p-4">
    <h2 class="mb-2 text-lg font-semibold text-white">Otras Habilidades:</h2>
    <ul class="max-w-md space-y-1 text-white list-disc list-inside">
      <li>Linux - Administración básica</li>
      <li>Docker básico</li>
      <li>WordPress y Odoo - Proyectos para empresas pequeñas</li>
      <li>Freelance: Digital Ocean, cPanel</li>
      <li>Google Analytics y SEO básico</li>
      <li>Soporte técnico: Jira Service Desk</li>
    </ul>
  </div>
</div>

<style>
  li {
    color: white;
  }
</style>
