
<h1 class="flex items-center text-5xl font-extrabold dark:text-white">Educación</h1>

<ol class="relative border-s border-gray-600">                  
    <li class="mb-10 ms-6">            
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -start-3 ring-8 ring-gray-800">
            <svg class="w-2.5 h-2.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="flex items-center mb-1 text-lg font-semibold text-white">Ingeniería en Informática
            <span class="bg-blue-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded">Universidad Tecnológica Metropolitana (UTEM)</span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-white">Marzo 2018 - Junio 2024</time>
        <p class="mb-4 text-base font-normal text-white">Obtención de conocimientos sólidos en desarrollo de software, ciberseguridad y gestión de infraestructuras tecnológicas. Realización de proyectos académicos y colaboraciones en prácticas profesionales que fortalecieron mis habilidades en entornos reales.</p>
    </li>
    

    <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -start-3 ring-8 ring-gray-800">
            <svg class="w-2.5 h-2.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-white">Curso de Fundamentos de Ciberseguridad
            <span class="bg-blue-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded">Universidad Carlos III de Madrid (UC3M)</span>
        </h3>
        
        <time class="block mb-2 text-sm font-normal leading-none text-white">Noviembre 2023 - Enero 2024</time>
        <p class="text-base font-normal text-white">Formación intensiva en los principios fundamentales de ciberseguridad, incluyendo la detección y prevención de amenazas. Aprendí sobre estrategias de protección de datos, análisis de vulnerabilidades, y mejores prácticas en la seguridad de redes.</p>
    </li>

    <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -start-3 ring-8 ring-gray-800">
            <svg class="w-2.5 h-2.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-white">Auditor Interno ISO/IEC 27001:2013
            <span class="bg-blue-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded">Estudio Autodidacta</span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-white">Junio 2022</time>
        <p class="text-base font-normal text-white">Estudié y comprendí los estándares internacionales de gestión de la seguridad de la información, preparándome para implementar auditorías internas y garantizar el cumplimiento de la norma ISO/IEC 27001:2013 en futuras organizaciones.</p>
    </li>
</ol>
<br>
<br>