<h1 class="flex items-center text-5xl font-extrabold dark:text-white">Experiencia</h1>

<ol class="relative border-s border-gray-600">   
    <li class="mb-10 ms-6">            
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -start-3 ring-8 ring-gray-800">
            <svg class="w-2.5 h-2.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="flex items-center mb-1 text-lg font-semibold text-white">Fundador - Path Defend  
            <span class="bg-blue-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded">Pathdefend.com</span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-white">Diciembre 2023 - Presente</time>
        <p class="mb-4 text-base font-normal text-white">Como fundador de Path Defend, ofrezco una variedad de servicios digitales, incluyendo soluciones ERP y CRM, así como ciberseguridad básica para pequeñas y medianas empresas. Actualmente, estoy integrando servicios de nube para expandir nuestra oferta y asegurar que nuestros clientes cuenten con la infraestructura necesaria para un crecimiento sostenible. Este rol es parte de mi objetivo de adquirir experiencia en ciberseguridad y ambientes cloud, preparándome para nuevas oportunidades en el sector.</p>
    </li>
             
    <li class="mb-10 ms-6">            
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -start-3 ring-8 ring-gray-800">
            <svg class="w-2.5 h-2.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="flex items-center mb-1 text-lg font-semibold text-white">Soporte IT - Reemplazo Temporal  
            <span class="bg-blue-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded">Transportes Buffalo</span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-white">Marzo 2024 - Junio 2024</time>
        <p class="mb-4 text-base font-normal text-white">Proporcioné soporte técnico integral en la empresa, gestionando la instalación y mantenimiento de hardware y software. Resolví incidencias técnicas en equipos y sistemas, optimizando el rendimiento de la infraestructura informática. Participé en la configuración de redes internas y mejoré la seguridad de los sistemas a través de actualizaciones y monitoreo constante.</p>
    </li>
    
    <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -start-3 ring-8 ring-gray-800">
            <svg class="w-2.5 h-2.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-white">Desarrollador de Proyectos Web
            <span class="bg-blue-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded">Freelance</span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-white">Julio 2023 - Febrero 2024</time>
        <p class="text-base font-normal text-white">Desarrollé sitios web dinámicos y responsivos para diversos clientes, utilizando tecnologías como HTML, CSS, JavaScript y PHP. Integré sistemas de gestión de contenidos (CMS) como WordPress, mejorando la eficiencia de los sitios y su accesibilidad en dispositivos móviles. Aseguré la entrega de proyectos de alta calidad, cumpliendo con plazos ajustados y necesidades personalizadas de los clientes.</p>
    </li>
    
    <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -start-3 ring-8 ring-gray-800">
            <svg class="w-2.5 h-2.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-white">Práctica Profesional - UES
            <span class="bg-blue-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded">Ministerio de Medio Ambiente</span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-white">Marzo 2023 - Mayo 2023</time>
        <p class="text-base font-normal text-white">Realicé mi práctica profesional en la Unidad de Exploración de Sistemas del Servicio de Evaluación Ambiental, contribuyendo al desarrollo de soluciones tecnológicas para la gestión de datos ambientales.</p>
    </li>

    <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -start-3 ring-8 ring-gray-800">
            <svg class="w-2.5 h-2.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-white">Colaborador en Laboratorio de Informática
            <span class="bg-blue-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded">Universidad Tecnológica Metropolitana (UTEM)</span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-white">Junio 2022 - Diciembre 2022</time>
        <p class="text-base font-normal text-white">Apoyé en la operación y mantenimiento de los laboratorios de informática, gestionando equipos de hardware y software para asegurar su correcto funcionamiento. Implementé mejoras en la instalación y actualización de software, garantizando que los equipos estuvieran listos para su uso académico. Adquirí experiencia en resolución de problemas técnicos y mantenimiento de redes locales.</p>
    </li>

    <li class="mb-10 ms-6">
        <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-500 rounded-full -start-3 ring-8 ring-gray-800">
            <svg class="w-2.5 h-2.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </span>
        <h3 class="mb-1 text-lg font-semibold text-white">Proyecto Independiente de Minería de Criptomonedas (ETH)
            <span class="bg-blue-500 text-white text-sm font-medium me-2 px-2.5 py-0.5 rounded">Independiente</span>
        </h3>
        <time class="block mb-2 text-sm font-normal leading-none text-white">2019 - 2020</time>
        <p class="text-base font-normal text-white">Diseñé y construí un rig de minería de criptomonedas optimizado para la extracción de Ethereum (ETH), utilizando varias GPU. Apliqué técnicas de monitoreo y control de temperatura para garantizar el funcionamiento óptimo del equipo. Adquirí conocimientos sobre blockchain, algoritmos de minería, y gestión de pools de minería, mejorando mi comprensión de las tecnologías distribuidas.</p>
    </li>
</ol>
<br>
<br>